<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kby.student.mapper.GradeMapper">

    <select id="query" resultType="com.kby.student.entity.Grade">
        select gradeId, gradeName from grade
    </select>

</mapper>